/*.system-node {*/
/*    -fx-background-color: transparent;*/
/*}*/

/*.system-node-background {*/
/*    -fx-background-color: #4D4D4D;*/
/*    -fx-background-radius: 10px;*/
/*    -fx-border-radius: 5px;*/
/*    -fx-border-color: #666666;*/
/*}*/

/*.system-node-indicator-panel {*/
/*    -fx-background-color: #3D3D3D;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.indicator {*/
/*    -fx-border-radius: 5px;*/
/*    -fx-border-color: #666666;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.input-port-panel {*/
/*    -fx-background-color: #666666;*/
/*}*/

/*.output-port-panel {*/
/*    -fx-background-color: #666666;*/
/*}*/

#rootPane {
    -fx-background-color: #0e1116;
}

#wirePane {
    -fx-background-color: transparent;
}

#systemNodePane {
    -fx-background-color: transparent;
}

.hud-title {
    -fx-font-family: "Monograf Bold";
    -fx-font-size: 20;
}

.hud-content-title {
    -fx-font-family: "Space Mono";
    -fx-font-size: 15;
}

.hud-content {
    -fx-font-family: "Monograf Regular";
    -fx-font-size: 15;
}

.reference {
    -fx-font-family: "Monograf Regular";
}